.p-datatable-new-thead>tr>th {
    background: #f9fafb;
    color: #000000;
    font-weight: 600;
}
.__header-new {
    color: var(--text-main);
    font-weight: 700;
    font-size: var(--font-size24);
    letter-spacing: -1px;
    font-family: roboto;
}