.nso_statistic_section {
  padding-top: 161px;
}

:host {
  ::ng-deep .__select_year {

    padding-left: 10px;
    margin-right: 10px;

    background: rgba(206, 208, 209, 0.2);
    border: 0;
    border-radius: 20px;
    min-width: fit-content;
    height: 37px;
    text-align: center;
  }

  ::ng-deep .text-left {
    text-align: left;
  }

  ::ng-deep .__filter_button {
    border: 1px solid var(--devide);
    box-sizing: border-box;
    border-radius: 20px;
    min-width: fit-content;
  }

  ::ng-deep .__select_filter {
    border: 0;
    padding-left: 5px;
    padding-right: 0px;
    background: rgba(206, 208, 209, 0.2);
    border-radius: 20px;
    min-width: fit-content;
    height: 37px;
    text-align: center;
  }

}

.__header {
  display: flex;
  width: 100%;
  justify-content: space-between;

  .__filter_buttons {
    display: inline-block;
    margin-top: 9px;
  }
}

// phone
@media only screen and (max-device-width: 480px) {

  .__header {
    display: block;
    width: 100%;

    .__section {
      display: flex;
      width: 100%;
    }

    .__filter_buttons {
      display: inline-block;
      margin-top: 9px;
    }
  }

}

.nso_statistic_category {
  width: 100%;
  background: var(--surface-bk3);
  padding: 50px 0;

  .__card_groups {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    margin: 0 30px 0 0px;

    &:last-child {
      margin-right: -30px;
    }

    width: 100%;

    .__card {
      width: calc(25% - 30px);
      height: 230px;
      background: var(--surface-a);
      padding: 30px;
      display: flex;
      flex-direction: column;
      box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);

      .__published_date {
        font-size: var(--font-size14);
        font-weight: 300;
        padding-bottom: 14px;
        color: #9FA1A2;
      }

      .__category_group {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        overflow-y: auto;
        position: relative;

        span {
          font-size: var(--font-size15);
          font-weight: 500;
          margin-top: 10px;
          color: var(--text-main);

          &:hover {
            cursor: pointer;
            color: var(--text-accent);
          }

          &:first-child {
            margin-top: 0;
          }
        }
      }
    }
  }
}

.nso_statistic_news {
  width: 100%;
  background: var(--surface-a);

  .__statistic_groups {
    padding: 20px 0;
  }

}

.nso_tab_content {
  .__table {
    p-table {
      .__cost_table {
        a {
          text-decoration: none;
          color: var(--text-main);
        }

        a:hover {
          color: var(--blue-600);
          text-decoration: underline
        }
      }
    }

    .__pagination {
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: var(--font-size14);

      .__pagination_text {
        margin-left: 20px;
        color: var(--text-main);
        opacity: .5;
      }
    }
  }
}

.__table_spec {
  display: flex;
  margin-top: 10px;
  color: #575C5E;

  .__table_views {
    margin-left: 20px;
    min-width: fit-content;
    padding: 0px 12px;
    color: var(--text-warn);
    background: #FFF8F8;
    border-radius: 22px;
    text-align: center;
    text-justify: center;
  }
}
// phone
@media only screen and (max-device-width: 480px) {

  .__table_spec {
    display: block;
    margin-top: 10px;
    color: #575C5E;
    width: 100%;

    span {
      width: 100%;
      padding: 0px 12px;
      white-space: nowrap;
      display: inline-block;
    }

    .__table_views {
      margin-left: 0px;
      min-width: fit-content;
      padding: 0px 12px;
      white-space: nowrap;
      color: var(--text-warn);
      background: #FFF8F8;
      border-radius: 22px;
      text-align: center;
      text-justify: center;
    }
  }

}


.__main_search {
  padding: 20px 0;

  input {
    border: 1px solid var(--surface-c);
    outline: none;
  }
}

.button {
  display: inline-block;
  margin-right: 10px;
  background-color: rgba(206, 208, 209, 0.2);
  font-size: var(--font-size14);
  height: 37px;
  line-height: 37px;
  border-radius: 20px;
  text-align: center;
  color: var(--text-color-secondary);
  text-decoration: none;
  cursor: pointer;
  user-select: none;
  z-index: 100;
}

.button:hover {
  transition-duration: 0.4s;
  background-color: var(--surface-c);
  color: var(--surface-a);
  transform: rotate(-360deg);
  transition: .5s;
}

.search-container {
  position: relative;
  display: inline-block;
  height: 37px;
  width: 47px;
  vertical-align: bottom;
}

.mglass {
  display: inline-block;
  pointer-events: none;
  transform: rotate(-45deg);
}

.searchbutton {
  position: absolute;
  font-size: var(--font-size22);
  width: 37px;
  margin: 0;
  padding: 0;
}

.search:focus+.searchbutton {
  transition-duration: 0.4s;
  background-color: var(--surface-c);
  color: var(--surface-a);
}

.search {
  position: absolute;
  outline: none;
  border: none;
  padding: 0;
  width: 0;
  height: 100%;
  transition-duration: 0.4s;

  &::placeholder {
    opacity: .5;
  }
}

.search:focus {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: rgba(206, 208, 209, 0.2);
  color: var(--text-color-secondary);
  width: auto;
}

.expandright {
  left: auto;
  right: 33px;
}

.expandright:focus {
  padding: 0 16px 0 16px;
}