.__main_search {
  padding: 30px 0;

  input {
    border: 1px solid var(--surface-c);
    outline: none;
  }
}

.left-bar {
  max-width: 270px;
}

.__cate_groups {
  width: 100%;
  padding-top: 0px;
  padding-bottom: 50px;

  ul {
    padding: 0;
    position: relative;

    li {
      border-left: 1px solid rgba(51, 58, 63, .1);
      border-right: 1px solid rgba(51, 58, 63, .24);
      list-style-type: none;
      padding: 10px 10px 10px 20px;

      a {
        color: var(--text-main);
        text-decoration: none;
      }

      &:hover {
        border-left: 2px solid;
        border-bottom: 1px solid rgba(51, 58, 63, .24);
        cursor: pointer;

        a {
          color: var(--text-accent);
        }

        background-color: var(--surface-b);
      }
    }
  }
}

li.active {
  border-left: 2px solid var(--surface-dark) !important;
  border-bottom: 1px solid #333a3f3d !important;

  a {
    color: var(--text-accent) !important;
    display: flex;
    align-items: center;

    &::before {
      width: 5px;
      height: 5px;
      content: "";
      display: block;
      position: absolute;
      right: -2.5px;
      border-radius: 50%;
      background: var(--surface-c);
    }
  }

  background-color: var(--surface-b);
}