.nso_header {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 9999;

  .head-a {
    padding: 20px;
  }

  .__title a {
    color: var(--accent);
    text-decoration: none;
  }

  span>a {
    color: var(--text-main);
    text-decoration: none;
  }

  .__sub_header {
    width: 100%;
    height: 100%;
    background-color: var(--surface-c);

    .nso_container {
      justify-content: flex-end;

      ul {
        height: 46px;
        list-style-type: none;
        display: flex;
        align-items: center;
        margin-block-start: 0;
        margin-block-end: 0;
        padding-inline-start: 0;

        li {
          font-size: var(--font-size15);
          font-weight: 300;
          height: 100%;
          display: flex;
          align-items: center;
          color: var(--text-second);
          cursor: pointer;

          &:last-child {
            padding: 4px 20px;
            height: 25px;
            border-left: 1px solid #ffffff1f;
            color: var(--text-sub);
            font-weight: 500;
          }

          &:hover {
            a {
              opacity: 1 !important;
            }
          }

          .__stat_top_title,
          .__stat_cat_title {
            color: #fff;
            padding: 16px 20px;
            opacity: .5;
            text-decoration: none;
          }

          &:nth-last-child(2) {

            .__stat_top_title,
            .__stat_cat_title {
              font-weight: 500;
              opacity: 1;
            }
          }
        }
      }

      .__dock_menu {
        display: none;
        height: 50px;
        margin-right: 10px;

        .__dock_item {
          width: 45px;
          height: 35px;
          display: flex;
          align-items: center;
          justify-content: center;

          span {
            width: 20px;
            height: 20px;
            display: flex;
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;

            &.dock1 {
              background-size: 60%;
              // background-image: url('~src/assets/images/dock1-1.png');
            }

            &.dock2 {
              // background-image: url('~src/assets/images/dock2-1.png');
            }

            &.dock3 {
              // background-image: url('~src/assets/images/dock3-1.png');
            }

            &.dock4 {
              width: 15px;
              // background-image: url('~src/assets/images/dock4-1.png');
            }
          }
        }
      }

    }
  }

  .__main_header {
    width: 100%;
    height: 115px;
    background-color: var(--surface-a);
    box-shadow: 0 16px 25px rgba(88, 143, 204, 0.06);
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: .5s;

    .nso_container {
      overflow: unset !important;
    }

    .__logo {
      width: clamp(200px, 75%, 300px) !important;
      height: 100px;
      // background-image: url('~src/assets/images/logo.png');
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      // background-size: 400px 70px;
      transition: .5s;

      &._en {
        // background-image: url('~src/assets/images/logo-en.png') !important;
      }
    }

    .__menu {
      height: 100%;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .__mobile_menu {
        display: none;
      }

      ul {
        height: 100%;
        list-style-type: none;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-block-start: 0;
        margin-block-end: 0;
        padding-inline-start: 0;

        li {
          white-space: nowrap;
          height: 100%;
          font-size: var(--font-size16);
          font-weight: 500;
          padding: 20px 12px;
          color: var(--text-main);
          text-transform: uppercase;
          //display: flex;
          align-items: center;

          &:hover {
            a {
              color: #005BAA;
            }

            color: #005BAA;
          }

          a {
            cursor: pointer;
            text-decoration: none;
            color: var(--text-main);
          }

          i {
            font-size: var(--font-size10);
            margin-left: 8px;
            transition: .3s;
            font-weight: 700;

            &.up {
              transform: rotate(180deg);
              transition: .3s;
            }
          }
        }
      }
    }

    &.small {
      height: 60px;

      .__logo {
        height: 100px;
      }
    }

  }

  .__dropdown {
    width: 100%;
    background: var(--surface-a);
    padding: 30px;
    border-top: .5px solid var(--accent);
    //transform: .5s;
    display: none;
    opacity: 0;
    animation: growDown 300ms ease-in-out forwards;
    transform-origin: top center;

    &.show {
      display: block;
      opacity: 1;
    }

    .__groups {
      width: 100%;
      display: flex;
      gap: 30px;

      .__group {
        width: 25%;
        max-width: 270px;

        .__title {
          font-weight: 600;
          font-size: var(--font-size15);
          color: var(--text-accent);
          padding-bottom: 10px;
          border-bottom: 1px solid;
          border-color: var(--surface-water);

          &:hover {
            color: var(--text-accent);
            text-decoration: underline;
          }

          &:first-child {
            margin-top: 0;
          }

          &.__spec {
            font-weight: 600;
            color: var(--text-accent);
            border-bottom: .5px solid var(--surface-water);
          }
        }

        .__items {
          display: flex;
          flex-direction: column;
          padding: 20px 0;

          span {
            font-size: var(--font-size15);
            font-weight: 400;
            color: var(--text-main);
            padding-bottom: 10px;
            margin-top: 10px;

            &:first-child {
              margin-top: 0;
            }

            &.__spec {
              font-weight: 600;
              color: var(--text-accent);
              border-bottom: .5px solid var(--surface-water);
            }

            .__stat_top_title:hover,
            .__stat_cat_title:hover {
              // color: #4983F2;
              text-decoration: underline;
            }
          }
        }
      }
    }
  }
}

.__drop_back {
  width: 100vw;
  height: 110vh;
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  z-index: 9000;
  display: none;
  transition: .3s;
  opacity: 0;

  &.show {
    display: block;
    opacity: 1;
  }
}

.active-link {
  color: var(--accent) !important;
}

.__sub_header_list {
  li.active-link-top {
    border-bottom: 3px solid #fff;

    .__stat_top_title,
    .__stat_cat_title {
      opacity: 1 !important;
    }
  }
}


.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  text-wrap: wrap;
  display: none;
  margin-top: 18px;
  position: absolute;
  background-color: white;
  max-width: 310px;
  min-width: 300px;
  z-index: 1;;
}

.dropdown-content a {
  font-size: 14px;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  border-bottom: 1px solid #f1f1f1;
}

.dropdown-content a:hover {
  background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
  display: block;
}


// .dropdown:hover a {
//   background-color: #3e8e41;
// }