.nso_home_statistic {
    width: 100%;
    background: var(--surface-a);

    .__group_title {
        text-transform: uppercase;
        font-size: var(--font-size20);
        font-weight: 500;
        color: var(--text-main);
        display: flex;
        padding-top: 60px;

        span {
            width: 36px;
            height: 36px;
            display: block;
            margin-left: 16px;
            margin-top: -12px;
            background-image: url('/images/covid.png');
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
        }
    }

    .__statistic_groups {
        width: 100%;
        display: flex;
        padding-bottom: 60px;

        .__group {
            width: 50%;

            .__statistics {
                display: flex;
                flex-wrap: wrap;
                padding-top: 30px;
                gap: 30px;

                .__card {

                    @media only screen and (min-device-width: 500px) {
                        &:nth-child(4) {
                            .__name {
                                width: 150px;
                            }
                        }

                        &:nth-child(5) {
                            .__name {
                                width: 150px;
                            }
                        }
                    }

                    width: calc(50% - 30px);

                    height: 80px;
                    background: var(--surface-d);
                    border-left: 2px solid;
                    display: flex;
                    align-items: center;
                    cursor: pointer;

                    .__icon {
                        width: 24px;
                        height: 24px;
                        display: block;
                        background-position: center;
                        background-size: contain;
                        background-repeat: no-repeat;
                        margin-left: 8%;
                    }

                    .__name {
                        margin-left: 10px;
                        font-size: var(--font-size16);
                        font-weight: 500;
                        color: var(--text-main);
                        text-transform: uppercase;
                    }

                    &:nth-child(1) {
                        border-color: var(--border-a);

                        .__icon {
                            background-image: var(--statistic-branch1);
                        }

                        @media only screen and (max-device-width: 480px) {
                            .__icon {
                                width: 25px;
                            }
                        }

                        .__icon {
                            background-image: url('/images/bulegiin_icon/1_hun_am.svg');
                        }

                        &:hover {
                            .__name {
                                color: #005BAA;
                            }

                        }
                    }

                    &:nth-child(2) {
                        border-color: var(--border-b);

                        .__icon {
                            background-image: var(--statistic-branch2);
                        }

                        @media only screen and (max-device-width: 480px) {
                            .__icon {
                                width: 42px;
                            }
                        }

                        .__icon {
                            background-image: url('/images/bulegiin_icon/2_aj_uildver.svg');
                        }

                        &:hover {
                            .__name {
                                color: #005BAA;
                            }
                        }
                    }

                    &:nth-child(3) {
                        border-color: var(--border-c);

                        .__icon {
                            background-image: var(--statistic-branch3);
                        }

                        @media only screen and (max-device-width: 480px) {
                            .__icon {
                                width: 27px;
                            }
                        }

                        .__icon {
                            background-image: url('/images/bulegiin_icon/26_nd_halamj.svg');
                        }

                        &:hover {
                            .__name {
                                color: #005BAA;
                            }
                        }
                    }

                    &:nth-child(4) {
                        border-color: var(--border-d);

                        .__icon {
                            background-image: var(--statistic-branch4);
                        }

                        @media only screen and (max-device-width: 480px) {
                            .__icon {
                                width: 50px;
                            }
                        }

                        .__icon {
                            background-image: url('/images/bulegiin_icon/9_undes_tootsoo.svg');
                        }

                        &:hover {
                            .__name {
                                color: #005BAA;
                            }
                        }
                    }

                    &:nth-child(5) {
                        border-color: var(--border-e);

                        .__icon {
                            background-image: var(--statistic-branch5);
                        }

                        @media only screen and (max-device-width: 480px) {
                            .__icon {
                                width: 60px;
                            }
                        }

                        .__icon {
                            background-image: url('/images/bulegiin_icon/14_bolovsrol.svg');
                        }

                        &:hover {
                            .__name {
                                color: #005BAA;
                            }
                        }
                    }

                    &:nth-child(6) {
                        border-color: var(--border-f);

                        .__icon {
                            background-image: var(--statistic-branch6);
                        }

                        @media only screen and (max-device-width: 480px) {
                            .__icon {
                                width: 38px;
                            }
                        }

                        .__icon {
                            background-image: url('/images/bulegiin_icon/12_ajil_erhlelt.svg');
                        }

                        &:hover {
                            .__name {
                                color: #005BAA;
                            }
                        }
                    }
                }
            }

            .__highlight {
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                padding-top: 30px;
                margin-top: -3px;

                .__card {
                    width: calc(50% - 26px) !important;
                    margin: 13px;
                    height: 145px;
                    cursor: pointer;
                    background: var(--surface-d);
                    padding: 20px 20px 20px 50px;
                    display: flex;
                    flex-direction: column;
                    margin-top: 0;

                    .__title {
                        display: flex;
                        align-items: center;
                        font-size: var(--font-size14);
                        font-weight: 500;
                        color: var(--text-main);
                        padding: 2px 10px;

                        // border-left: 1px solid;
                        border-color: var(--border-g);

                        .__icon {
                            width: 30px;
                            height: 30px;
                            display: block;
                            margin-right: 10px;
                            background-size: contain;
                            background-position: center;
                            background-repeat: no-repeat;
                        }
                    }

                    @media only screen and (max-device-width: 500px) {
                        .__title {
                            padding: 0; 
                        }
                    }

                    .__count {
                        margin-top: 10px;
                        font-size: var(--font-size20);
                        font-weight: 600;
                        padding-left: 12px;
                        color: var(--text-accent);
                    }

                    .__desc {
                        margin-left: 11px;
                        margin-bottom: 8px;
                        color: var(--text-desc);
                        font-size: var(--font-size10);
                    }

                    // &:nth-child(1) {
                    //   .__count {
                    //     color: var(--text-warn);
                    //   }
                    // }

                    // &:nth-child(2) {
                    //   .__count {
                    //     color: var(--text-success);
                    //   }
                    // }

                    // &:nth-child(3) {
                    //   .__count {
                    //     color: var(--text-accent);
                    //   }
                    // }

                    // &:nth-child(4) {
                    //   .__count {
                    //     color: var(--text-desc);
                    //   }
                    // }
                }
            }

            // ipad mini
            @media only screen and (device-width: 820px) {
                .__highlight {
                    gap: 20px;

                    .__card {
                        width: calc(50% - 10px) !important;
                        height: 160px !important;
                    }
                }
            }

            // ipad mini
            @media only screen and (device-width: 768px) {
                .__highlight {
                    gap: 20px;

                    .__card {
                        width: calc(50% - 10px) !important;
                        height: 160px !important;
                    }
                }
            }

            @media only screen and (max-device-width: 480px) {
                .__highlight {
                    gap: 20px;

                    .__card {
                        width: calc(50% - 10px) !important;
                        height: 160px !important;
                    }
                }
            }
        }
    }
}