.__download_cloud {
    width: 25px !important;
    height: 25px !important;
}

.__image {
    border: none !important;
    width: 36px !important;
    height: 47px !important;
}

@media only screen and (min-width: 500px) {
    .nso_about_us {

        .__body {
            width: 100%;
            margin: 60px 0;

            .main {
                width: 100%;
            }

            .__menu {
                font-weight: bold;
                font-family: sf-pro-text, roboto;

                .__title {
                    width: 80%;
                    padding: 10px 0;
                    color: var(--text-main);
                    font-size: var(--font-size18);
                    font-family: sf-pro-text, roboto;
                }

                ul {
                    align-items: center;
                    list-style-type: none;
                    margin-block-end: 0px;
                    margin-block-start: 0px;
                    justify-content: flex-end;
                    padding-inline-start: 0px;
                    font-family: sf-pro-text, roboto;

                    a {

                        li {
                            cursor: pointer;
                            font-size: var(--font-size16);
                            font-weight: 230;
                            padding: 15px 35px;
                            position: relative;
                            font-family: sf-pro-text, roboto;

                            &:hover {
                                color: var(--accent);
                            }

                        }

                        color: var(--text-main);
                        text-decoration: none;
                    }

                    li {
                        font-size: var(--font-size16);
                        cursor: pointer;
                        font-size: var(--font-size15);
                        font-weight: 500;
                        padding: 15px 35px;
                        position: relative;

                        &:hover {
                            color: var(--accent);
                        }

                    }

                    .active {
                        color: var(--accent);

                        &::before {
                            width: 5px;
                            height: 5px;
                            content: "";
                            display: block;
                            position: absolute;
                            right: -4px;
                            border-radius: 50%;
                            background: var(--surface-c);
                        }
                    }
                }
            }

            .__laws {
                .__post {
                    display: flex;
                    padding: 10px 20px;
                    cursor: pointer;
                    text-decoration: none;

                    .__laws-body {
                        width: 100%;
                    }

                    .__title {
                        margin: 0 20px;
                        font-weight: bold;
                        color: var(--text-main);
                        font-size: var(--font-size16);
                    }

                    .__view_comments {
                        margin: 0 10px;
                        margin-top: 4px;
                        color: #575C5E;

                        .ws_MB {
                            font-size: var(--font-size16);
                        }

                        ul {
                            margin: 0;
                            padding: 0;
                            display: flex;
                            color: #575C5E;
                            text-align: center;
                            font-weight: medium;
                            align-items: center;

                            li {
                                margin-left: 50px;

                                &::marker {
                                    color: #C3C7C8;
                                }
                            }
                        }

                        .__info {
                            width: 100px;
                            align-items: center;
                        }

                        .__view {
                            display: flex;
                            font-size: var(--font-size15);
                            font-weight: 400;
                            // margin-left: 10px;
                            // align-items: center;
                            color: var(--text-main);

                            &::before {
                                content: '';
                                width: 15px;
                                height: 15px;
                                margin-left: 0;
                                margin-right: 6px;
                                background-image: url('/images/view.png');
                                background-position: center;
                                background-size: contain;
                                background-repeat: no-repeat;
                            }
                        }

                        .__desc {
                            width: 250px;
                            font-size: var(--font-size12);
                            padding: 5px 15px;
                            border-radius: 50px;
                            background: var(--surface-d);
                            color: var(--text-main);
                        }
                    }

                    // & div {
                    //     width: 870px;
                    // }

                    &:hover {
                        border-radius: 10px;
                        transition: box-shadow 500ms;
                        box-shadow: 0px 15px 25px #0011ff15;
                    }
                }
            }

        }
    }
}

@media only screen and (max-width: 500px) {

    .__body {
        width: 100%;
        display: block;
        margin: 0;

        .main {
            width: 100%;
        }

        .__menu {
            font-weight: bold;

            .__title {
                width: 100%;
                padding: 10px 0;
                color: var(--text-main);
                font-size: var(--font-size16);
            }

            ul {
                align-items: center;
                list-style-type: none;
                margin-block-end: 0px;
                margin-block-start: 0px;
                border: 1px solid white;
                justify-content: flex-end;
                padding-inline-start: 0px;

                a {

                    li {
                        font-size: var(--font-size16);
                        cursor: pointer;
                        font-size: var(--font-size15);
                        font-weight: 500;
                        padding: 15px 35px;
                        position: relative;

                        &:hover {
                            color: var(--accent);
                        }

                    }

                    color: var(--text-main);
                    text-decoration: none;
                }

                li {
                    font-size: var(--font-size16);
                    cursor: pointer;
                    font-size: var(--font-size15);
                    font-weight: 500;
                    padding: 15px 35px;
                    position: relative;

                    &:hover {
                        color: var(--accent);
                    }

                }

                .active {
                    color: var(--accent);

                    &::before {
                        width: 5px;
                        height: 5px;
                        content: "";
                        display: block;
                        position: absolute;
                        right: -4px;
                        border-radius: 50%;
                        background: var(--surface-c);
                    }
                }
            }
        }

        .__laws {
            margin-left: 20px;
            padding: 0 0 40px 20px;

            .__post {
                display: flex;
                cursor: pointer;
                margin-top: 40px;
                margin-left: -40px;
                text-decoration: none;

                .__laws-body {
                    width: 280px;
                }

                .__title {
                    margin: 0 20px;
                    font-size: var(--font-size16);
                    font-weight: bold;
                    color: var(--text-main);
                }

                .__view_comments {
                    margin: 0 10px;
                    margin-top: 4px;
                    color: #575C5E;

                    .ws_MB {
                        min-width: 80px;
                        font-size: var(--font-size16);
                    }

                    ul {
                        margin: 0;
                        padding: 0;
                        display: flex;
                        color: #575C5E;
                        text-align: center;
                        font-weight: medium;
                        align-items: center;

                        li {
                            margin-left: 30px;

                            &::marker {
                                color: #C3C7C8;
                            }
                        }
                    }

                    .__info {
                        min-width: 100px;
                        align-items: center;
                    }

                    .__view {
                        display: flex;
                        font-size: var(--font-size15);
                        font-weight: 400;
                        // margin-left: 10px;
                        // align-items: center;
                        color: var(--text-main);

                        &::before {
                            content: '';
                            width: 15px;
                            height: 15px;
                            margin-left: 0;
                            margin-right: 6px;
                            background-image: url('/images/view.png');
                            background-position: center;
                            background-size: contain;
                            background-repeat: no-repeat;
                        }
                    }

                    .__desc {
                        width: 250px;
                        font-size: var(--font-size12);
                        padding: 5px 15px;
                        border-radius: 50px;
                        background: var(--surface-d);
                        color: var(--text-main);
                    }
                }

                // & div {
                //     width: 870px;
                // }

                &:hover {
                    border-radius: 10px;
                    transition: box-shadow 500ms;
                    box-shadow: 0px 15px 25px #0011ff15;
                }
            }
        }

    }
}