:host ::ng-deep .p-button-icon {
    font-size: var(--font-size24);
}

:host ::ng-deep .p-autocomplete-input::placeholder {
    color: var(--text-main);
    opacity: .5;
}

:host ::ng-deep .p-autocomplete-panel {
    display: none;
}

:host ::ng-deep .pi-chevron-left::before {
    content: "\e91a";
    font-weight: 700;
}

:host ::ng-deep .pi-chevron-right::before {
    content: "\e91b";
    font-weight: 700;
}

.nso_main_section {
    width: 100%;
    height: fit-content;
    padding-top: 161px;

    .__home_groups {
        display: flex;
        height: 100%;
        align-items: center;

        @media only screen and (min-width: 800px) {
            .__metadataphone {
                display: none;
            }

            .__metadataBannerphone {
                display: none;
            }
        }

        @media only screen and (max-width: 800px) {
            .__metadata {
                display: none;
            }

            .__metadataBanner {
                display: none;
            }

            .__metadataphone {
                width: 100%;
                margin-bottom: 44px;
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                justify-content: center;

                a {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: nowrap;
                    justify-content: left;
                    width: 328px;
                    padding: 10px;
                    margin-top: 50px;
                    text-align: center;
                    border-radius: 6px;
                    text-decoration: none;
                    color: black;
                    background-color: white;
                    margin-bottom: -35px;

                    span {
                        width: 100%;
                        text-align: center;
                    }
                }
            }

            .__metadataBannerphone {
                a {
                    font-size: 14px;
                    flex-direction: row;
                    flex-wrap: nowrap;
                    justify-content: center;
                    width: 328px;
                    padding: 10px;
                    text-align: center;
                    border-radius: 6px;
                    text-decoration: none;
                    color: black;

                    img {
                        margin-top: 20px;
                    }
                }
            }
        }

        .__info_area {
            width: 50%;

            .__title {
                font-size: var(--font-size38);
                font-weight: 800;
                line-height: 52px;
                max-width: 400px;
                background: linear-gradient(to right, #005BAA, #4A98DB);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                text-transform: uppercase;
            }

            .current_space {
                margin-top: 50px;
                // padding-right: 65px;
            }

            @media only screen and (min-width: 800px) {
                .__metadata {
                    gap: 10px;
                    display: flex;
                    flex-direction: row;
                    flex-wrap: nowrap;

                    a {
                        width: 50%;
                        padding: 10px;
                        display: flex;
                        color: black;
                        font-size: 14px;
                        margin-top: 30px;
                        flex-wrap: nowrap;
                        text-align: center;
                        flex-direction: row;
                        margin-bottom: -35px;
                        text-decoration: none;
                        justify-content: center;
                        background-color: white;
                        &:hover {
                            box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
                        }
                    }
                }

                .__metadataBanner {
                    a {
                        font-size: 14px;
                        flex-direction: row;
                        flex-wrap: nowrap;
                        justify-content: center;
                        width: 50%;
                        text-align: center;
                        border-radius: 6px;
                        text-decoration: none;
                        color: black;

                        img {
                            margin-top: 60px;
                        }
                    }
                }
            }
        }

        .__group {
            width: 50%;
            display: block;
            padding: 40px 0;
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            background-image: url('/images/circleV.png');

            .__card_area {
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                justify-content: center;

                .__card {

                    margin: 30px 0 0 30px;
                    width: 200px;

                    height: 189px;
                    display: flex;
                    cursor: pointer;
                    flex-direction: column;
                    flex-wrap: wrap;
                    background: var(--surface-a-trans);
                    box-shadow: 0 16px 25px rgba(88, 143, 204, 0.06);
                    padding: 24px 20px 0 20px;
                    position: relative;

                    .__icon {
                        width: 30px;
                        height: 30px;
                        display: block;
                        background-size: contain;
                        background-position: center;
                        background-repeat: no-repeat;
                    }

                    .__desc {
                        font-size: var(--font-size10);
                        font-weight: 400;
                        padding-top: 14px;
                        color: var(--text-desc);
                    }

                    .__name {
                        font-size: var(--font-size15);
                        font-weight: 400;
                        padding-top: 4px;
                        color: var(--text-main);
                    }

                    div {
                        padding-top: 10px;
                        display: flex;
                        align-items: center;

                        span {
                            max-width: 115px;

                            &:first-child {
                                font-size: var(--font-size18);
                                font-weight: 600;
                                color: var(--text-main);
                                line-height: 1rem;
                                height: fit-content;
                            }

                            &:last-child {
                                font-size: var(--font-size14);
                                font-weight: 600;
                                margin-left: 10px;

                                &.success {
                                    color: var(--text-success);
                                }

                                &.danger {
                                    color: var(--text-warn);
                                }
                            }
                        }
                    }

                    &:nth-child(1) {
                        .__icon {
                            background-image: url('/images/h-icon1.png');
                        }
                    }

                    &:nth-child(2) {
                        .__icon {
                            background-image: url('/images/h-icon2.png');
                        }
                    }

                    &:nth-child(3) {
                        .__icon {
                            background-image: url('/images/h-icon3.png');
                        }
                    }

                    &:nth-child(4) {
                        .__icon {
                            background-image: url('/images/h-icon4.png');
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 500px) {

    /* IPad дэлгэц */
    .__phone {
        display: block !important;
    }
}

.nso_home_info {
    width: 100%;
    padding: 60px;
    background: var(--surface-bk2);

    .__home_info_groups {
        .__header_section {
            .__title {
                text-transform: uppercase;
                font-size: var(--font-size20);
                font-weight: 500;
                color: var(--text-main);
                display: flex;
            }
        }
    }
}

.nso_home_news {
    width: 100%;
    background: var(--surface-a);

    .nso_news_groups {
        padding: 60px 0;

        .__section_title {
            text-transform: uppercase;
            font-size: var(--font-size20);
            font-weight: 500;
            color: var(--text-main);
            display: flex;
        }

        .__news_groups {
            display: flex;
            position: relative;
            justify-content: space-between;
            padding-top: 30px;

            .__main_news {
                width: 700px;
                max-width: 700px;
                display: flex;
                flex-direction: column;

                img {
                    width: 100%;
                    max-height: 500px;
                }

                .__name {
                    padding-top: 30px;
                    font-size: var(--font-size20);
                    line-height: 30px;
                    color: var(--text-main);
                    font-weight: 500;
                }

                .__text {
                    padding-top: 20px;
                    font-size: var(--font-size15);
                    font-weight: 400;
                    color: var(--text-desc);
                    line-height: 22px;
                }

                .__info {
                    padding-top: 18px;
                    display: flex;
                    align-items: center;

                    .__view {
                        display: flex;
                        align-items: center;
                        font-size: var(--font-size15);
                        font-weight: 400;
                        color: var(--text-main);

                        &::before {
                            content: '';
                            width: 15px;
                            height: 15px;
                            margin-right: 6px;
                            // background-image: url('/images/view.png');
                            background-position: center;
                            background-size: contain;
                            background-repeat: no-repeat;
                        }
                    }

                    .__comment {
                        margin-left: 10px;
                        display: flex;
                        align-items: center;
                        font-size: var(--font-size15);
                        font-weight: 400;
                        color: var(--text-main);

                        &::before {
                            content: '';
                            width: 15px;
                            height: 15px;
                            margin-right: 6px;
                            background-image: url('/images/comment.png');
                            background-position: center;
                            background-size: contain;
                            background-repeat: no-repeat;
                        }
                    }
                }
            }

            .__other_news {
                width: 40%;
                max-width: 470px;
                min-width: 400px;
                padding-left: 30px;
                padding-bottom: 20px;
                display: flex;
                flex-direction: column;

                .__card {
                    display: flex;
                    margin-top: 10px;
                    cursor: pointer;

                    &:first-child {
                        margin-top: 0;
                    }

                    &:hover {
                        .__other {
                            .__name {
                                color: var(--text-accent);
                            }
                        }
                    }

                    img {
                        width: 100px;
                        height: 80px;
                        background-position: center;
                        background-size: contain;
                        background-repeat: no-repeat;
                    }

                    .__other {
                        display: flex;
                        flex-direction: column;
                        padding-left: 24px;

                        .__name {
                            font-size: var(--font-size14);
                            color: var(--text-main);
                        }

                        .__info {
                            display: flex;
                            align-items: center;
                            padding-top: 8px;

                            .__view {
                                display: flex;
                                align-items: center;
                                font-size: var(--font-size15);
                                font-weight: 400;
                                color: var(--text-main);

                                &::before {
                                    content: '';
                                    width: 15px;
                                    height: 15px;
                                    margin-right: 6px;
                                    // background-image: url('/images/view.png');
                                    background-position: center;
                                    background-size: contain;
                                    background-repeat: no-repeat;
                                }
                            }

                            .__comment {
                                margin-left: 10px;
                                display: flex;
                                align-items: center;
                                font-size: var(--font-size15);
                                font-weight: 400;
                                color: var(--text-main);

                                &::before {
                                    content: '';
                                    width: 15px;
                                    height: 15px;
                                    margin-right: 6px;
                                    background-image: url('/images/comment.png');
                                    background-position: center;
                                    background-size: contain;
                                    background-repeat: no-repeat;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.nso_main_section_1 {
    width: 100%;
    // background: var(--surface-bk3);
    padding: 80px 0;

    .__title {
        text-transform: uppercase;
        font-size: var(--font-size20);
        font-weight: 500;
        color: var(--text-main);
    }

    .nso_container {
        .__home_groups {
            width: 100%;
        }
    }
}

.__action_area a {
    text-decoration: none;
}

.__search {
    width: 100%;
    display: inline-flex;
    position: relative;
}

.__main_search {
    width: 100%;

    .p-input-icon-right {
        width: 100%;

        i {
            width: 60px;
            height: 60px;
            top: 0;
            right: 0;
            background: var(--surface-c);
            color: var(--text-sub);
            margin-top: 0px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
        }
    }

    .p-autocomplete {
        width: 100%;

        .p-autocomplete {
            .p-autocomplete-panel {
                .p-autocomplete-items {
                    .p-autocomplete-item-group {
                        background: var(--surface-d);
                        color: var(--surface-c);
                        text-transform: uppercase;

                    }

                    .p-highlight {
                        color: var(--surface-c);
                        background: var(--surface-d);
                    }
                }
            }
        }

        span {
            width: 100%;

            .p-autocomplete-loader {
                display: none;
            }

            button {
                width: 60px !important;
                border-radius: 0;
                border: 0px;
                background: var(--surface-c);

                &:hover {
                    background: var(--surface-c) !important;
                }
            }
        }
    }

    input {
        width: 100%;
        border: none;
        height: 60px;
        border-radius: 0px;
        padding: 20px;

        &::placeholder {
            color: var(--text-second);
        }
    }
}

.search_result {
    position: absolute;
    padding: 10px 20px 20px 20px;
    width: 520px;
    max-height: 200px;
    display: flex;
    background-color: var(--surface-a);
    gap: 20px;
    border: none;
    box-shadow: 0 2px 4px -1px #00000033, 0 4px 5px 0 #00000024, 0 1px 10px 0 #0000001f;
    overflow-y: scroll;
    z-index: 5;

    .result_col {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 15px;

        .group_title {
            padding: 5px 5px 10px 0;
            border-bottom: .5px solid var(--devide);
            color: var(--surface-c);
            font-size: var(--font-size16);
            font-weight: 600;
            text-transform: uppercase;
        }

        .group_item {
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            width: 100%;
            color: var(--text-main);
            font-size: var(--font-size14);
            overflow: hidden;
            text-overflow: ellipsis;
            cursor: pointer;

            &:hover {
                color: #4983F2;
                text-decoration: underline;
            }
        }
    }
}

.mb {
    position: absolute;
    right: 45px;
    width: 300px;
}

@media only screen and (max-device-width: 1600px) {
    .mb {
        width: 200px;
    }
}

@media only screen and (max-device-width: 1400px) {
    .mb {
        display: none;
    }
}

@media only screen and (min-device-width: 1400px) {
    .mbImageFilter {
        display: none;
    }
}

@media only screen and (max-device-width: 700px) {
    .mbtext {
        text-align: center;
    }
}

.disabled {
    display: none;
}