$box_sh_l: rgba(0, 0, 0, 0.1) 0px 0px 0px 0.5px inset;
$br4: 4;
$br8: $br4+4;
$br10: $br8+2;
$br12: $br8+4;
$br20: $br12+$br8;
$imp: !important;
$cw: #fff;

.nso_page_content_wrap {
    padding: 0;
    width: 100%;
    min-height: 30vw;

    .__page_block {
        padding: 10px 0;
    }

    .__page_main {
        margin-top: 20px;
        background-color: rgba(255 255 255 / .6);
        box-shadow: $box_sh_l;
        border-radius: $br12 + px;
    }
}

.__opendata_wrap {
    position: relative;
    margin-top: 20px;

    &.fixed {
        .__opendata_sidebar {
            position: fixed;
            top: 74px;
        }

        .__opendata_main {
            margin-left: 290px;
        }
    }
}

.__dfs {
    display: flex;
    align-items: flex-start;
}

.__opendata_tree {
    padding: 0 10px;

    .__opendata_tree_first {
        padding-top: 8px;

        .__first_name {
            background-color: #ebedf1;
        }

        ul {
            margin-left: 25px !important;
            width: calc(100% - 25px);
            position: relative;

            // .is_choosen_group {
            .__height_of_line {
                height: 100%;
                position: absolute;
                border-left: 1px solid var(--surface-c);
                left: -15px;
                top: 0;
            }

            // }

            .__tree_group {}

            li {
                h3 {
                    margin-bottom: 0px !important;
                    margin-left: -7px !important;
                }

                &.is_arrow {
                    h3 {
                        background-color: transparent;
                        box-shadow: none;
                    }

                    ul {
                        background-color: transparent;
                        box-shadow: none;
                    }

                    &::before {
                        // border-left: 1px solid #e63657;
                        // border-bottom: 1px solid #e63657;
                        // z-index: 100;
                    }

                    &::after li:first-child {
                        // border-left: 1px solid #e63657;
                    }
                }
            }

            // li.is_arrow~.__sub_li {
            // border-left: 1px solid #e63657;
            //   background-color: #e63657;
            //   z-index: 110;
            // }
        }

        li {
            font-size: var(--font-size16);
            position: relative;

            &:before {
                position: absolute;
                left: -15px;
                top: 0px;
                content: '';
                display: block;
                border-left: 1px solid #ddd;
                height: 1em;
                border-bottom: 1px solid #ddd;
                width: 10px;
                border-bottom-left-radius: 4px
            }

            &:after {
                position: absolute;
                left: -15px;
                bottom: -7px;
                content: '';
                display: block;
                border-left: 1px solid #ddd;
                height: 100%;
            }

            &.root {
                margin: 0px 0px 0px -20px;

                &:before {
                    display: none;
                }

                &:after {
                    display: none;
                }


            }

            &:first-child {
                // &:after {
                //   display: none
                // }
            }

            &:last-child {
                &:after {
                    display: none
                }
            }
        }

        .__inner_ul {
            padding: 0 !important;

            li {
                a {
                    padding: 8px 2px !important;
                    text-decoration: none;
                    color: var(--text-main);

                    &:hover {
                        color: var(--accent);
                    }
                }
            }
        }

        &:first-child {
            padding-top: 0px;
        }

        &:active {
            .__first_name {
                // box-shadow: #e63657 0px 0px 0px 0.5px inset;
            }
        }
    }
}

.__opendata_sub_name {
    margin-bottom: 0px !important;
}

.__opendata_customize {
    padding: 40px !important;
    position: relative;

    .__shiffer {
        position: absolute;
        left: 14px;
        color: var(--accent);
    }

    .__opendata_header {
        max-width: 100% !important;

        h1 {
            font-size: var(--font-size32) !important;
            font-weight: 500 !important;
        }

        p {
            padding-top: 20px;

            &:last-child {
                padding-top: 0px;
            }

            a {
                //color: #e63657 !important;
                color: var(--accent) !important;
            }
        }
    }

    .__opendata_main_block {
        .__open_section {
            margin-top: 40px;

            h1 {
                font-weight: 300 !important;
                margin-bottom: 18px !important;
            }

            pre {
                margin: 1em 0px !important;
                border-radius: 8px !important;
            }

            .__opendata_item {
                h2 {
                    font-weight: 300 !important;
                    margin-top: 50px !important;
                }
            }
        }
    }
}

.wrap_width {
    position: relative;
}

.__opendata_sidebar {
    top: 130px;
    overflow-y: auto;
    height: calc(100vh - 130px - 20px);
    margin-bottom: 80px;

    display: flex;
    width: 280px;
    padding: 10px $imp;
    background-color: rgba(255 255 255 / .6);
    box-shadow: $box_sh_l;
    border-radius: $br20 + px;

    .__od_side {
        width: 100%;
    }

    ul {
        width: 100%;

        li {
            display: flex;
            flex-direction: column;
            width: 100%;

            span {
                font-size: var(--font-size13);
                font-weight: 500;
                text-transform: uppercase;
                padding: 8px 10px;
                // margin-bottom: 5px;
                background-color: $cw;
                box-shadow: $box_sh_l;
                border-radius: $br12 + px;
            }

            a {
                position: relative;
                display: flex;
                width: 100%;
                font-size: var(--font-size14);
                font-weight: 500;
                line-height: 1.2;
                padding: 10px;

                &:hover {
                    color: var(--accent);
                }
            }

            ul {
                margin: 0 $imp;

                a {
                    font-weight: normal;
                }

                li {
                    h3 {
                        font-size: var(--font-size14);
                        font-weight: normal $imp;
                        padding: 8px 10px;
                        cursor: pointer;
                    }

                    &:hover {
                        h3 {
                            color: var(--accent) $imp;
                        }
                    }

                    &.is_arrow {
                        h3 {
                            color: var(--accent) $imp;
                            font-weight: 500 $imp;
                            // margin-bottom: 5px $imp;
                            background-color: #f3f5f6;
                            border-radius: $br12 + px;
                            box-shadow: $box_sh_l;
                        }
                    }

                    ul {
                        padding: 5px 5px 5px 15px $imp;
                        margin-bottom: 10px $imp;
                        background-color: #f3f4f7;
                        box-shadow: $box_sh_l;
                        border-radius: $br12 + px;
                    }
                }
            }
        }
    }
}
.doc_table {
    width: 100%;
    border-collapse: collapse;
    margin: 1rem 0;
    font-size: 14px;
  }
  
  .doc_table th,
  .doc_table td {
    border: 1px solid #ddd;
    padding: 8px 12px;
    text-align: left;
  }
  
  .doc_table th {
    background-color: #f9f9f9;
    font-weight: 600;
  }
  
  .code_block {
    background-color: #1e1e1e;
    color: #eee;
    padding: 1rem;
    border-radius: 8px;
    font-size: 14px;
    white-space: pre-wrap;
    overflow-x: auto;
    margin-top: 1rem;
  }
  .api_method_tag {
    display: inline-block;
    padding: 4px 12px;
    font-size: 12px;
    font-weight: bold;
    color: white;
    border-radius: 6px;
    margin-right: 10px;
    text-transform: uppercase;
  }
  
  .api_method_get {
    background-color: #4285f4; // Цэнхэр
  }
  
  .api_method_post {
    background-color: #34a853; // Ногоон
  }
  
  .api_method_put {
    background-color: #fbbc05; // Шар
  }
  
  .api_method_delete {
    background-color: #ea4335; // Улаан
  }
  
.nso_dark {
    .nso_body_wrap {
        background-color: #221f16;
    }

    .visible-bg {
        background-color: rgba(255, 255, 255, .2);
    }

    .nso_header_wrap {
        filter: invert(1);

        .__high_contrast {
            transform: scaleX(-1);
        }
    }

    .__home_page_header {
        .__home_page_header_img {
            filter: invert(1) grayscale(1) $imp;
        }
    }

    .__home_news_slider_wrap {
        .__news_slider__img {
            .__img_block {
                filter: invert(1);
            }
        }

        .__news_slider__content {
            p {
                color: rgba(0, 0, 0, .9);
            }

            h1,
            a {
                color: var(--text-main);
            }
        }
    }

    .__dark {
        filter: invert(1);
    }

    .__popular_statistic_head {
        h2 {
            color: $cw $imp;
        }
    }

    .__stat_detail_page,
    .__speed_search_wrap,
    .__more_btn,
    .__stat_page_layout_grid,
    .swiper-button-prev,
    .swiper-button-next,
    .nso_breadcrumb,
    .nso_page_content_wrap .__page_main,
    .__search_theme_main,
    .nso_logreg_wrap,
    .nso_homo_wrap,
    .__main_sidebar,
    .__od_side,
    .__loading,
    .ng-dropdown-panel,
    .__opendata_wrap .__opendata_main,
    .__page_detail_header_wrap {
        filter: invert(1);
    }

    .__popular_statistic_wrap {
        .__popular_stat_item {
            background-color: var(--text-main);
            box-shadow: #403e35 0px 0px 0px 0.5px inset;

            .__popular_stat_header {
                background-color: var(--text-main);
                box-shadow: #403e35 0px 0px 0px 0.5px inset;

                .__stat_icon {
                    filter: invert(100%);
                }
            }

            .__popular_stat_main {

                .__popular_stat_title,
                .__popular_stat_date {
                    color: $cw;
                }

                .__popular_stat_count {
                    color: #62fcf6;
                }
            }
        }
    }

    .__meta_data_wrap {
        .__meta_data_item {
            filter: invert(1);
        }
    }

    .__opendata_sidebar {
        background-color: var(--text-main);
        box-shadow: #403e35 0px 0px 0px 0.5px inset;
    }

    .__main_page_wrap {
        .__main_categories {
            .__main_cat_wrap {
                background-color: var(--text-main);
                box-shadow: #403e35 0px 0px 0px 0.5px inset;
            }

            .__main_category_list {
                .__cat_stat_item {
                    .__stat_cat_wrap {
                        background-color: var(--text-main);
                        border-color: #403e35;

                        .__stat_cat_img {
                            background-color: var(--text-main);
                            box-shadow: #403e35 0px 0px 0px 0.5px inset;

                            img {
                                filter: invert(1);
                            }
                        }

                        .__stat_cat_title {
                            color: $cw;
                        }

                        &:hover {
                            background-color: #3b2f00;
                            box-shadow: #554b22 0px 0px 0px 0.5px inset;

                            .__stat_cat_img {
                                background-color: var(--text-main);
                                box-shadow: #403e35 0px 0px 0px 0.5px inset;
                            }

                            .__stat_cat_title {
                                color: $cw;
                            }
                        }
                    }
                }
            }
        }
    }

    .nso_footer_wrap {
        background-color: #e8d3b4;

        .__footer_block {
            .__footer_info {
                label {
                    color: #755a3c;
                }

                h1 {
                    color: var(--text-main) $imp;
                }
            }

            .__footer_ul {
                h3 {
                    color: rgba(0, 0, 0, .9) $imp;
                }

                li {
                    color: #755a3c;

                    label {
                        color: #755a3c;
                    }

                    p,
                    a {
                        color: var(--text-main);
                    }
                }
            }
        }

        .__footer_copyrights {
            border-top: 1px solid #d9c2a2;

            .__footer_content {
                color: var(--text-main);
            }
        }
    }
}

.__opendata_main {
    flex: 1;
    width: 100%;
    margin: 0 0 80px 30px;
    background-color: rgba(255, 255, 255, 0.6);
    box-shadow: $box_sh_l;
    border-radius: 20px;
}