.mtMB {

    table,
    th,
    td {
        border: 1px solid gray;
    }

    table {
        font-size: 12px;
        border-collapse: collapse;
    }

    // ol,
    // li,
    // ul,
    // h5,
    // h6,
    // h4 {
    //     padding: 0;
    //     margin: 0;
    // }

    h5 {
        z-index: 10;
    }

    ol {
        list-style: none;
    }

    body {
        margin: 50px 0 100px;
        font-family: "Inter", sans-serif;
    }

    @media only screen and (max-width: 500px) {
        .mtMB {
            margin-top: 150px;
        }

        .ifMobile {
            width: 100%;
            overflow-x: auto;
            padding: 0 10px;
            margin: 0 auto;
        }

        .containers {
            width: 1000px;
            padding: 0 10px;
            margin: 0 auto;
        }
    }

    .containers {
        max-width: 1000px;
        padding: 0 10px;
        margin: 0 auto;

        .nso_page_header {
            height: 0 !important;
        }

        * {
            color: var(--accent);
            font-weight: 700;
            // box-sizing: border-box;
        }
    }

    .rectangle {
        border-radius: 5px;
        cursor: pointer;
        position: relative;
        padding: 20px;
        box-shadow: 0 5px 15px rgba(21, 90, 174, 0.15);
    }

    .rectangle:hover {
        cursor: pointer;
        position: relative;
        padding: 20px;
        box-shadow: 0 1px 15px #44b3ff;
    }

    /* LEVEL-1 STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
    .level-0 {
        width: 250px;
        margin: 0 auto 40px;
        position: relative;
        // background: var(--level-1);
    }

    .level-1 {
        width: 250px;
        margin: 0 auto 40px;
        // background: var(--level-1);
    }

    .level-1::before {
        content: "";
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
        width: 2px;
        height: 20px;
        background: var(--green-600);
    }

    // .level-1::after {
    //     content: "";
    //     position: absolute;
    //     top: 50%;
    //     left: 0%;
    //     transform: translate(-100%, -50%);
    //     width: 20px;
    //     height: 2px;
    //     background: var(--green-600);
    // }

    /* LEVEL-2 STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
    .level-2-wrapper {
        position: relative;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        .lvltamga::before {
            content: "";
            position: absolute;
            top: 83px;
            left: 190px;
            height: 187px;
            width: 2px;
            background: var(--green-600);
        }
    }

    .level-2-wrapper::before {
        content: "";
        position: absolute;
        top: -20px;
        left: 49.1%;
        width: 61.1%;
        height: 2px;
        background: var(--green-600);
    }

    .level-2-wrapper::after {
        display: none;
        content: "";
        position: absolute;
        left: -20px;
        bottom: -20px;
        width: calc(100% + 20px);
        height: 2px;
        // background: var(--green-600);
    }

    // .level-22-wrapper::after {
    //     display: none;
    //     content: "";
    //     position: absolute;
    //     left: -20px;
    //     bottom: -20px;
    //     width: calc(100% + 20px);
    //     height: 2px;
    //     // background: var(--green-600);
    // }


    .level-2-wrapper li {
        position: relative;
        z-index: 1;
    }

    .level-22-wrapper li {
        position: relative;
    }

    .level-2-wrapper>li::before {
        content: "";
        position: absolute;
        bottom: 100%;
        left: 79.5%;
        transform: translateX(-50%);
        width: 2px;
        height: 225px;
        top: -19px;
        background: var(--green-600);
    }

    .level-22-wrapper>li::before {
        content: "";
        position: absolute;
        bottom: 100%;
        left: 50%;
        transform: translateX(-50%);
        width: 2px;
        height: 20px;
        background: var(--green-600);
    }

    .level-2 {
        width: 250px;
        margin: 0 auto 40px;
        margin-left: 357px;
        // background: var(--level-2);
    }

    .level-22 {
        width: 225px;
        margin: 0 auto 40px;
        // background: var(--level-2);
    }

    ol>:first-child {
        .level-2::before {
            content: "";
            position: absolute;
            top: 100%;
            left: 50%;
            transform: translateX(-50%);
            width: 2px;
            height: 40px;
            background: var(--green-600);
        }
    }

    ol>:first-child {
        .level-22::before {
            content: "";
            position: absolute;
            top: 100%;
            left: 50%;
            transform: translateX(-50%);
            width: 2px;
            height: 20px;
            background: var(--green-600);
        }
    }

    ol>:first-child {
        .level-2::after {
            display: none;
            content: "";
            position: absolute;
            top: 50%;
            left: 0%;
            transform: translate(-100%, -50%);
            width: 20px;
            height: 2px;
            // background: var(--green-600);
        }
    }

    ol>:first-child {
        .level-22::after {
            display: none;
            content: "";
            position: absolute;
            top: 50%;
            left: 0%;
            transform: translate(-100%, -50%);
            width: 20px;
            height: 2px;
            // background: var(--green-600);
        }
    }


    /* LEVEL-3 STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
    .level-3-wrapper {
        position: relative;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 20px;
        width: 90%;
        margin: 0 auto;
    }

    .level-32-wrapper {
        position: relative;
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-column-gap: 20px;
        width: 90%;
        margin: 0 auto;
    }

    // .level-3-wrapper::before {
    //     content: "";
    //     position: absolute;
    //     top: -20px;
    //     left: calc(25% - 5px);
    //     width: calc(50% + 10px);
    //     height: 2px;
    //     background: var(--green-600);
    // }

    .level-32-wrapper::before {
        content: "";
        position: absolute;
        top: -20px;
        left: 100px;
        width: 900px;
        height: 2px;
        background: var(--green-600);
    }

    // .level-3-wrapper>li::before {
    //     content: "";
    //     position: absolute;
    //     top: 0;
    //     left: 50%;
    //     transform: translate(-50%, -100%);
    //     width: 2px;
    //     height: 20px;
    //     background: var(--green-600);
    // }

    .level-32-wrapper>li::before {
        content: "";
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, -100%);
        width: 2px;
        height: 20px;
        background: var(--green-600);
    }

    .level-3 {
        margin-bottom: 20px;
        // background: var(--level-3);
    }

    .level-32 {
        width: 200px;
        height: 125px;
        margin-bottom: 20px;
        // background: var(--level-3);
    }

    /* LEVEL-4 STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
    .level-4-wrapper {
        position: relative;
        width: 80%;
        margin-left: auto;
        padding-top: 5px;
    }

    .lvltamga {
        .level-3 {
            width: 250px;
            margin-left: 64px;
        }

        .level-4-wrapper::before {
            content: "";
            position: absolute;
            top: -35px;
            left: -20px;
            width: 2px;
            height: calc(100% + 1px);
            background: var(--green-600);
        }
    }

    .lvltamga:nth-child(2) {
        .level-4-wrapper::before {
            content: "";
            position: absolute;
            top: -58px;
            left: -20px;
            width: 2px;
            height: calc(100% + 1px);
            background: var(--green-600);
        }
    }

    .lvlded {
        ::after {
            content: "";
            position: absolute;
            left: 250px;
            height: 2px;
            width: 100px;
            background: var(--green-600);
        }
        ::before {
            content: "";
            position: absolute;
            top: 88px;
            left: 125px;
            width: 2px;
            height: 308px;
            background: var(--green-600);
        }
        .level-3{
            width: 250px;
            margin-left: -7px;
            margin-top: -128px;
        }
        .level-4-wrapper::before {
            content: "";
            position: absolute;
            top: -20px;
            left: -20px;
            width: 2px;
            height: calc(100% + 143px);
            background: var(--green-600);
        }
    }

    .level-4-wrapper li+li {
        margin-top: 20px;
    }

    .level-4 {
        font-weight: normal;
        // background: var(--level-4);
    }

    .level-4::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 0%;
        transform: translate(-100%, -50%);
        width: 20px;
        height: 2px;
        background: var(--green-600);
    }



    /* MQ STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
    // @media screen and (max-width: 700px) {
    //     .rectangle {
    //         padding: 20px 10px;
    //     }

    //     .level-1,
    //     .level-2 {
    //         width: 100%;
    //     }

    //     .level-1 {
    //         margin-bottom: 20px;
    //     }

    //     .level-1::before,
    //     .level-2-wrapper>li::before {
    //         display: none;
    //     }

    //     .level-2-wrapper,
    //     .level-2-wrapper::after,
    //     .level-2::after {
    //         display: block;
    //     }

    //     .level-2-wrapper {
    //         width: 90%;
    //         margin-left: 10%;
    //     }

    //     .level-2-wrapper::before {
    //         left: -20px;
    //         width: 2px;
    //         height: calc(100% + 40px);
    //     }

    //     .level-2-wrapper>li:not(:first-child) {
    //         margin-top: 50px;
    //     }
    // }

    h4,
    h6,
    h5 {
        background: white;
    }

    // .lines {
    //     width: 230px;
    //     height: 92px;
    //     position: relative;
    //     margin-top: -136px;
    //     margin-left: 140px;
    //     border-width: 2px;
    //     border-color: var(--green-600);
    //     border-style: solid;
    //     border-top: none;
    //     z-index: 0;
    // }

    // .lines::before {
    //     content: "";
    //     position: absolute;
    //     top: 100%;
    //     left: 50%;
    //     transform: translateX(-50%);
    //     width: 2px;
    //     height: 48px;
    //     background: var(--green-600);
    // }

    .hrs {
        width: 786px;
        height: 100px;
        position: absolute;
        margin-top: 225px;
        margin-left: 454px;
        border-width: 2px;
        border-color: var(--green-600);
        border-style: solid;
        border-bottom: none;
        border-left: none;
        z-index: 0;
    }

    .level-4 {
        padding: 10px !important;
    }

    .level-top .level-0:first-child::after {
        content: "";
        position: absolute;
        top: 50%;
        right: -124px;
        transform: translate(-50%);
        width: 83px;
        height: 2px;
        background: var(--green-600);
    }

    .level-top .level-0:last-child::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 0%;
        transform: translate(-100%, -50%);
        width: 80px;
        height: 2px;
        background: var(--green-600);
    }

}

    // 

    .nso_container {
        overflow: visible;

        // .p-dialog-content {
        //     overflow-x: hidden;
        // }

        // background: var(--surface-bk3);

        .title {
            font-weight: 700;
            font-size: x-large;
            margin-left: 20px;
            color: var(--text-main);
        }

        area {
            cursor: pointer;
        }

        .__timeline_title {
            font-weight: 870;
            font-size: large;
            margin-top: 50px;
            margin-bottom: 50px;
            word-wrap: break-word;
            text-transform: uppercase;
            color: var(--accent);
        }

        @media only screen and (max-width: 500px) {
            .p-breadcrumb {
                width: 200px;

                .ng-star-inserted {
                    white-space: nowrap;
                }
            }

            // .p-dialog {
            //     display: flex;
            //     flex-direction: column;
            //     width: 93%;
            //     max-height: 90%;
            //     position: relative;
            //     transform: scale(1);
            // }

            .__timeline_title {
                font-weight: 870;
                font-size: small !important;
                margin-top: 0 !important;
                margin-bottom: 0 !important;
                word-wrap: break-word;
                text-transform: uppercase;
            }

            .title {
                font-weight: 700;
                margin-top: 5px !important;
                margin-left: 5px !important;
                font-size: medium !important;
                color: var(--text-main);
            }
        }

    }

    .dialog-body {
        display: flex;
        flex: content;
        
        @media only screen and (max-width: 550px) {
            width: 333px;
            display: block;
        }

        .ws_desc {
            font-weight: 700;
            color: var(--accent);
            box-sizing: border-box;
        }

        .sb {
            height: 340px;
            box-shadow: 1px 2px 3px gray;
            border-top: 2px solid #005BAA;

            .name {
                width: 333px;
                height: 200px;
                text-align: center;

                .name_bg {
                    width: 100%;
                    height: 100px;
                    background: linear-gradient(137deg, #F9FAFA 0%, #DEEBFF 70%, #FDF8FF 100%);
                }

                img {
                    width: 108px;
                    margin: 0 auto;
                    margin-top: -50px;
                    // margin-left: 85px;
                }

                h3 {
                    text-align: center;
                    color: var(--text-main);
                }
            }

            .desc {
                background: white;
                text-align: center;

                h4 {
                    color: #333a3f9f;
                }

                p {
                    color: var(--text-main);
                }
            }
        }

        .header {
            width: auto;
            width: 870px;
            margin-left: 20px;
            padding: 20px 50px;
            box-shadow: 1px 2px 3px gray;
            border-top: 2px solid #005BAA;

            @media only screen and (max-width: 550px) {
                width: 333px;
                height: auto;
                padding: 10px;
                margin-left: 0;
                margin-top: 20px;
                box-shadow: 1px 2px 3px gray;
                border-top: 2px solid #005BAA;
            }

            .title {
                font-weight: 700;
                font-size: x-large;
                color: var(--text-main);

                @media only screen and (max-width: 550px) {
                    font-size: large;
                }
            }

            .bfr {
                margin-top: 20px;

                .f {
                    font-size: larger;
                    color: rgb(48, 48, 48);

                    @media only screen and (max-width: 550px) {
                        font-size: small;
                    }
                }

                .s {
                    color: #005BAA;
                    font-weight: 600;
                }
            }
        }

        .body {
            width: 870px;
            margin-top: 20px;
            margin-left: 20px;
            box-shadow: 1px 2px 3px gray;
            padding: 20px 50px;
            border-top: 2px solid #005BAA;

            @media only screen and (max-width: 550px) {
                width: 333px;
                margin-top: 20px;
                margin-left: 0;
                box-shadow: 1px 2px 3px gray;
                padding: 10px;
                border-top: 2px solid #005BAA;
            }

            .title {
                margin: 20px 0;
                font-weight: 700;
                font-size: x-large;
                color: var(--text-main);

                @media only screen and (max-width: 550px) {
                    margin: 10px 0;
                    font-size: large;
                }
            }

            .time_line_title {
                width: 75%;
                margin-top: 5px;
                font-size: larger;
                color: rgb(48, 48, 48);

                @media only screen and (max-width: 550px) {
                    width: 200px;
                    font-size: small;
                }
            }

            .date {
                margin-top: 15px;
                font-weight: 600;
                color: #005BAA;
            }

            .p-timeline-event {
                min-height: 85px;
            }

            .p-timeline-event-opposite {
                padding: 0;
                width: 100px;
                text-align: left;
                font-weight: 800;
                padding-top: 5px;
                color: var(--blue-600);
            }

            .__middlecircle {
                width: 1rem;
                height: 1rem;
                padding: 1rem;
                display: flex;
                border-radius: 50%;
                text-align: center;
                align-items: center;
                color: var(--blue-50);
                justify-content: center;
                background-color: var(--blue-200);
                border: 2px solid var(--primary-color-hover);

                .mc {
                    width: 14px;
                    height: 14px;
                    border-radius: 50%;
                    position: absolute;
                    background-color: white;
                }
            }

            .p-timeline-event-content {
                flex: none;
                width: 1000px;
            }

            .p-timeline-event-connector {
                margin: 4px;
                background-color: var(--blue-200);
            }

            .p-tabmenu .p-tabmenu-nav .p-tabmenuitem.p-highlight .p-menuitem-link {
                color: var(--accent);
                border-top: 2px solid;
                background-color: var(--surface-water);
            }

            .p-tabmenu .p-tabmenu-nav .p-tabmenuitem .p-menuitem-link {
                padding: 0;
                background: none;

                .ng-star-inserted {
                    padding: 15px;
                }
            }
        }

        .header {
            color: #000 !important;
        }
    }