// main body scrollbar

// ::-webkit-scrollbar {
// 	width: 6px;
// }

// ::-webkit-scrollbar-track {
// 	background: var(--surface-b);
// 	border-radius: 10px;
// 	margin: 90px 0 20px 0;
// }

// ::-webkit-scrollbar-thumb {
// 	background: var(--surface-dark);
// 	border-radius: 10px;
// }


.nso_statistic_section {
	padding-top: 161px;
}

.nso_main_search {
	padding-top: 30px;
	padding-bottom: 30px;

	.__main_search {
		border: .5px solid;
		border-color: var(--surface-c);
		color: var(--text-main);

		input {
			&::placeholder {
				color: var(--text-main);
			}
		}
	}
}

.statcatebody {
	width: 100%;
	background: var(--surface-bk3);
	padding: 80px 0;

	.__card_groups {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		width: 100%;

		.__card {
			margin-bottom: 30px;
			margin-left: 0px;
			width: calc(33.333% - 30px);
			max-width: 370px;
			height: 300px;
			background: var(--surface-a);
			padding: 30px;
			display: flex;
			flex-direction: column;
			border-top: 1px solid var(--surface-c);
			overflow: auto;
			word-wrap: break-word;

			// --surface-b?
			background-image: linear-gradient(to top, var(--surface-a), var(--surface-a)),
				linear-gradient(to top, var(--surface-a), var(--surface-a)),
				linear-gradient(to top, var(--surface-b), var(--surface-a)),
				linear-gradient(to bottom, var(--surface-a), var(--surface-a));
			background-position: bottom center, top center, bottom center, top center;
			background-repeat: no-repeat;
			background-size: 100% 0, 100% 0, 100% 20%, 100% 0;
			background-attachment: local, local, scroll, scroll;

			.__title {
				font-size: var(--font-size16);
				font-weight: 600;
				padding-bottom: 14px;
				color: var(--text-main);
			}

			.__category_group {
				width: 100%;
				display: flex;
				flex-direction: column;
				position: relative;

				span {
					font-size: var(--font-size15);
					font-weight: 400;
					margin-bottom: 10px;
					color: var(--text-main);

					&:hover {
						cursor: pointer;
						color: var(--text-accent);
					}
				}
			}
		}
	}

}

.nso_statistic_news {
	width: 100%;
	background: var(--surface-a);
	padding: 80px 0;

	.__statistic_groups {
		flex-direction: row;
		flex-wrap: wrap;
		width: 100%;

		.nso_tab_content {
			.nso_news_cards {
				display: flex;
				;
				flex-wrap: wrap;
				width: 100%;
				justify-content: space-between;

				.nso_news_card {
					margin-top: 30px;
					padding: 0 5px;
					width: calc(33.333% - 30px);
					max-width: 370px;
					min-width: 160px;
					background: var(--surface-a);
					display: flex;
					align-items: center;
					justify-content: space-between;

					.__img {
						width: 100%;
						height: 152px;
						object-fit: cover;
						background-position: center;
						background-size: contain;
						background-repeat: no-repeat;
					}

					.__date {
						margin-left: calc(-100% + 70px);
					}
				}
			}
		}
	}

}

.nso_statistic_report {
	width: 100%;
	background: var(--surface-bk3);
	padding: 50px 0;

	.__report_groups {
		flex-direction: row;
		flex-wrap: wrap;

		.__card_groups {
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;
			padding-top: 30px;
			width: 100%;

			.__card {
				margin-bottom: 30px;
				width: calc(33.333% - 30px);
				max-width: 370px;
				height: 100px;
				padding: 20px;
				background: var(--surface-a);
				display: flex;
				align-items: center;
				justify-content: space-between;
				font-weight: 500;
				color: var(--text-main);
				cursor: pointer;

				&:hover {
					box-shadow: 0 16px 25px rgba(88, 143, 204, 0.06);

					.__icon {
						background: var(--surface-c);

						i {
							color: #fff;
						}
					}
				}

				.__icon {
					width: 34px;
					height: 34px;
					border-radius: 50%;
					display: flex;
					align-items: center;
					justify-content: center;
					background: var(--surface-bk2);
					transition: .5s;

					i {
						font-weight: 600;
						font-size: var(--font-size14);
						color: var(--accent);
					}
				}
			}
		}
	}
}

.nso_statistic_intrest {
	background-color: var(--surface-a);

	.__intrest_groups {
		padding: 80px 0;
		width: 100%;
		background: var(--surface-a);

		.__intrest_card_groups {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;

			padding-top: 20px;
			width: 100%;

			.__intrest_card {
				position: relative;
				margin-bottom: 30px;
				width: calc(33.333% - 30px);
				max-width: 370px;
				height: 223px;
				border: 1px solid;
				border-color: var(--devide);
				padding: 30px;
				display: flex;
				flex-direction: column;
				cursor: pointer;
				text-decoration: none;

				&:nth-child(1) {
					.__icons {
						background-image: url('/images/int1.png');
					}
				}

				&:nth-child(1):hover {
					.__icons {
						background-image: url('/images/int1-1.png');
					}
				}

				&:nth-child(2) {
					.__icons {
						background-image: url('/images/int2.png');
					}
				}

				&:nth-child(2):hover {
					.__icons {
						background-image: url('/images/int2-1.png');
					}
				}

				&:nth-child(3) {
					.__icons {
						background-image: url('/images/int3.png');
					}
				}

				&:nth-child(3):hover {
					.__icons {
						background-image: url('/images/int3-1.png');
					}
				}

				&:nth-child(4) {
					.__icons {
						background-image: url('/images/int4.png');
					}
				}

				&:nth-child(4):hover {
					.__icons {
						background-image: url('/images/int4-1.png');
					}
				}

				&:nth-child(5) {
					.__icons {
						background-image: url('/images/int5.png');
					}
				}

				&:nth-child(5):hover {
					.__icons {
						background-image: url('/images/int5-1.png');
					}
				}

				&:nth-child(6) {
					.__icons {
						background-image: url('/images/int6.png');
					}
				}

				&:nth-child(6):hover {
					.__icons {
						background-image: url('/images/int6-1.png');
					}
				}

				.__icons {
					width: 40px;
					height: 40px;
					display: flex;
					background-position: center;
					background-size: contain;
					background-repeat: no-repeat;
				}

				.__name {
					padding-top: 24px;
					font-weight: 500;
					font-size: var(--font-size16);
					color: var(--text-main);

					a {
						color: var(--text-main);
						text-decoration: none;
					}
				}

				.__desc {
					padding-top: 12px;
					font-weight: 400;
					font-size: var(--font-size16);
					color: var(--text-desc);
				}

				button {
					position: absolute;
					bottom: 7%;
					right: 9%;
					width: 24px;
					height: 24px;
					border: none;
					color: var(--accent);
					background-color: Transparent;
					cursor: pointer;

					i {
						margin: 2px 0 0 -2px;
						font-size: var(--font-size15);
					}
				}
			}

			.__intrest_card:hover {
				background: var(--surface-c);
				color: #FFF;

				.__name {
					color: #FFF;

					a {
						color: #FFF;
						text-decoration: none;
					}
				}

				.__desc {
					color: #FFF;
					opacity: .5;
				}

				button {
					color: #FFF;
				}
			}
		}
	}
}

.__group_titles {
	font-size: var(--font-size22);
	font-weight: 500;
	color: var(--text-main);
	text-transform: uppercase;
}