.nso_statistic_category {
    width: 100%;
    padding: 80px 0;
    background: var(--surface-a);

    .__card_groups {
        display: flex;
        flex-wrap: wrap;
        margin-left: -15px;

        .__card_arrow {
            position: absolute;
            margin-top: 100px;
            margin-left: 150px;
            max-height: 24px;
            max-width: 24px;
            color: #CDD9ED;
            background: var(--surface-a);
            border-radius: 50%;
        }

        .__card {
            margin: 15px;
            width: 200px !important;
            flex: 1 0 21%;
            height: 200px !important;
            padding: 30px;
            display: flex;
            color: black;
            cursor: pointer;
            max-width: 230px !important;
            text-decoration: none;
            flex-direction: column;
            box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);

            .circle {
                width: 25px;
                padding: 3px;
                height: 25px;
                margin-left: 80%;
                color: #CDD9ED;
                border-radius: 50px;
                background: white;
            }

            .__category_group {
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                overflow-y: auto;
                position: relative;

                font-weight: 500 !important;
                margin-top: 10px !important;
                color: var(--text-main) !important;
                font-size: var(--font-size15) !important;

                .pi-arrow-circle-right {
                    display: none !important;
                }

                &:hover {
                    cursor: pointer;
                    color: var(--text-accent);
                }

                &:first-child {
                    margin-top: 0;
                }
            }
        }
    }
}