.home-container {
    background-image: url('/images/Welcome-page.png');
    width: 100%;
    z-index: 10001;
    position: fixed;
    height: calc(100vh + 40px);
    font-family: sf-pro-text,roboto;

    .logo-section {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        margin-bottom: 5rem;

        .main-logo {
            height: 100px;
        }

        .anniversary-logo {
            height: 60px;
        }
    }
}

.service-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;

    .service-item {
        border-radius: 8px;
        padding: 2rem;
        text-align: center;
        text-decoration: none;
        color: #464646b5;
        transition: all 0.3s ease;
        box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);

        &:hover {
            transform: translateY(-5px);
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
        }

        .service-content {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1rem;
        }

        .service-icon {
            font-size: 2.5rem;
            color: #2a1b6d;
        }

        .service-title {
            font-size: 16px;
            font-weight: 600;
            color: #005BAA;
        }
    }
}

@media (max-width: 768px) {
    .service-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 480px) {
    .service-grid {
        grid-template-columns: 1fr;
    }
}