@tailwind base;
@tailwind components;
@tailwind utilities;

@import "@/components/styles/about-us-header.scss";
@import "@/components/styles/element-design.scss";
@import "@/components/styles/variable.scss";
@import "@/components/styles/header.scss";
@import "@/components/styles/footer.scss";
@import "@/components/styles/theme.scss";
@import "@/components/styles/welcome.scss";
@import "@/components/styles/mainHome.scss";
@import "@/components/styles/home.scss";
@import "@/components/styles/latest-news.scss";
@import "@/components/styles/glossary.scss";
// @import "@/components/styles/works.scss";
// @import "@/components/styles/contact-us.scss";
@import "@/components/styles/statcate.scss";
@import "@/components/styles/not-found.scss";
@import "@/components/styles/transparency.scss";
@import "@/components/styles/file-library.scss";
@import "@/components/styles/statistic.scss";
@import "@/components/styles/methodology-view.scss";
@import "@/components/styles/file-library-list.scss";
@import "@/components/styles/open-data.scss";
@import "@/components/styles/opendata-view.scss";
@import "@/components/styles/opendata-table.scss";
@import "@/components/styles/statistic-data-viz.scss";
@import "@/components/styles/responsive.scss";
@import "@/components/styles/style.scss";
@import "@/components/styles/suvda.scss";
@import "@/components/styles/buyna.scss";

// body{
//     font-family: "sf-pro-text", roboto !important;
// }
// .route-loading-overlay {
//     backdrop-filter: blur(5px);
//     transition: all 0.3s ease-in-out;

//     .route-loading-content {
//         background: white;
//         padding: 2rem;
//         border-radius: 8px;
//         box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
//     }
// }

* {
  font-family: sf-pro-text;
}

.__form_title {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 2rem;
}

.__input_group {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.__input_form_group {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.__input_form {
  border: 2px solid #ced0d1;
  padding: 14px;
  width: 100%;
  box-sizing: border-box;
  outline: none;
  // padding: 0.6rem;
  font-size: 1rem;
  // border: 1px solid #ccc;
  // border-radius: 6px;
  // width: 100%;
}

._message {
  grid-column: span 2;
  min-height: 120px;
  resize: vertical;
}

.__submit {
  text-align: center;
  margin-top: 2rem;
}

.__submit_button {
  padding: 0.5rem 1.5rem;
  font-size: 1rem;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 50px;
  transition: background-color 0.3s;
  background-image: linear-gradient(91.09deg,
      rgb(64, 172, 112) 0.36%,
      rgb(85, 196, 134) 99.48%);
}

.__submit_button:hover {
  background-color: #004799;
}

h4 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: bold;
}

.__filter_sidebar_words {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  margin: 0;
  padding: 0;
}

.__filter_sidebar_item {
  background-color: #ffffff;
  padding: 10px;
  margin-top: 0px;
  margin-bottom: 0px;
  border-radius: 5px;
}

.__filter_sidebar_item h4 {
  margin: 0;
  font-size: 16px;
  font-weight: bold;
  color: #333;
}

.__filter_sidebar_item ul {
  padding-left: 5px;
  list-style-type: none;
}

.__filter_sidebar_item ul li a {
  display: block;
  padding: 8px;
  text-decoration: none;
  color: #333;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.__filter_sidebar_item ul li a.active {
  background-color: #d3d3d3;
  color: #333;
}

.__filter_sidebar_item ul li a:hover {
  background-color: #e0e0e0;
}

.__filter_sidebar_item ul li a:focus {
  outline: none;
  border-color: #3186f5;
}

.__filter_sidebar_word_row {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 0px;
  margin-bottom: 1px;
}

.__filter_sidebar_word_col {
  flex: 0 0 16%;
  text-align: center;
}

.__filter_word_item {
  position: relative;
  cursor: pointer;
  display: inline-block;
  border: 1px solid #ddd;
  border-radius: 4px;
  transition: all 0.3s ease;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.__filter_word_item.active {
  background-color: #3186f5;
  color: white;
}

.__filter_word_item:focus {
  outline: none;
  border-color: #313ef5;
}

.__filter_word_item:focus-visible {
  outline: none;
  border-color: #313ef5;
}

.filter-title {
  font-size: 1.1rem;
  font-weight: 500;
  color: var(--text-color);
  margin-bottom: 1rem;
  display: block;
}

.clamp-title {
  font-weight: 600;
  font-size: var(--font-size20);
  /* эсвэл text-[20px] */
  line-height: 26px;
  letter-spacing: -1px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}

.clamp-description {
  font-size: 14px;
  color: #4b5563;
  /* Tailwind text-gray-600 */
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

// .__filter_word_item:hover {
//   background-color: #f1f1f1;
// }

// .count {
//   display: none;
//   position: absolute;
//   top: -10px;
//   right: -10px;
//   background-color: #000;
//   color: #fff;
//   padding: 5px;
//   border-radius: 50%;
//   font-size: 12px;
// }

// .__filter_word_item:hover .count {
//   display: block;
// }
/* Ердийн хүснэгт бүтцэд зориулсан */
.footnotes_container,
#ctl00_ContentPlaceHolderMain_UcAccordianAboutTable2_InformationBox {
  font-family: Arial, sans-serif;

  h3 {
    font-weight: 600;
    font-size: 24px;
  }

  // margin: 20px 0;
  // background: #f9f9f9;
  // border-radius: 8px;
  // padding: 16px;
  // box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
}

.obs-notes-h3 {
  font-size: 20px;
  margin-bottom: 16px;
  color: #333;
  // border-bottom: 2px solid #007acc;
  padding-bottom: 4px;
}

/* Хүснэгтийн ерөнхий стиль */
.table {
  display: table;
  width: 100%;
  border-collapse: collapse;
}

.row {
  display: table-row;
  // border-bottom: 1px solid #e0e0e0;
}

.cell,
.cell2,
.cell3 {
  display: table-cell;
  vertical-align: top;
  padding: 10px;
}

.cell2 {
  font-weight: bold;
  width: 30%;
  color: #222;
}

.cell3 {
  width: 70%;
  color: #555;
}

/* Урт текстүүдэд зориулсан */
.the_long_text {
  line-height: 1.6;
  white-space: pre-line;
}

/* Хэвлэлийн огноо, эх сурвалж гэх мэт мэдээлэл */
.information_definitionlist {
  margin-top: 20px;
}

.information_definitionlist .row:nth-child(odd) {
  background: #eaf6ff;

  .cell3 {
    a {
      color: rgb(88, 178, 247) !important;
      text-decoration: underline !important;
    }
  }
}

.information_definitionlist .row:last-child {
  a {
    color: rgb(88, 178, 247);
    text-decoration: underline;
  }
}

.footnotes_container .row:nth-child(odd) {
  background: #eaf6ff;
}

/* Responsiveness (optional) */
@media (max-width: 768px) {

  .table,
  .row,
  .cell,
  .cell2,
  .cell3 {
    display: block;
    width: 100%;
  }

  .cell2 {
    font-weight: bold;
    margin-top: 10px;
  }

  .cell3 {
    margin-bottom: 10px;
  }
}

.__filter_section {
  display: flex;
}

.filter {
  width: 16px;
  height: 16px;
  margin-left: 0.5rem;
}

.compact-dropdown .p-dropdown {
  border: none !important;  
  background-color: #e0f7fa !important; 
  box-shadow: none !important;     
}

.compact-dropdown .p-dropdown-trigger {
  color: #050505 !important; 
}

.compact-dropdown .p-dropdown-label {
  color: #050505 !important;
  padding: 4px 12px !important;
}


._dropbtn {
  border-radius: 20px;
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 6px 12px;
  border: none;
  background-color: #f0f0f0;
  cursor: pointer;
}

.filter_item {
  text-decoration: none;
  color: inherit;
}

.filter_item:hover {
  background-color: #f0f0f0;
}
