@tailwind base;
@tailwind components;
@tailwind utilities;


@import "@/components/styles/about-us-header.scss";
@import "@/components/styles/element-design.scss";
@import "@/components/styles/variable.scss";
@import "@/components/styles/header.scss";
@import "@/components/styles/footer.scss";
@import "@/components/styles/theme.scss";
@import "@/components/styles/welcome.scss";
@import "@/components/styles/mainHome.scss";
@import "@/components/styles/home.scss";
@import "@/components/styles/latest-news.scss";
@import "@/components/styles/glossary.scss";
// @import "@/components/styles/works.scss";
@import "@/components/styles/statcate.scss";
@import "@/components/styles/not-found.scss";
@import "@/components/styles/transparency.scss";
@import "@/components/styles/file-library.scss";
@import "@/components/styles/statistic.scss";
@import "@/components/styles/methodology-view.scss";
@import "@/components/styles/file-library-list.scss";
@import "@/components/styles/open-data.scss";
@import "@/components/styles/opendata-view.scss";
@import "@/components/styles/opendata-table.scss";
@import "@/components/styles/statistic-data-viz.scss";
@import "@/components/styles/responsive.scss";
@import "@/components/styles/style.scss";
@import "@/components/styles/suvda.scss";
@import "@/components/styles/buyna.scss";

// body{
//     font-family: "sf-pro-text", roboto !important;
// }
// .route-loading-overlay {
//     backdrop-filter: blur(5px);
//     transition: all 0.3s ease-in-out;

//     .route-loading-content {
//         background: white;
//         padding: 2rem;
//         border-radius: 8px;
//         box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
//     }
// }

* {
  font-family: sf-pro-text;
}

.__form_title {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 2rem;
}
.__input_group {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}
.__input_form_group {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}
.__input_form {
  border: 1px solid #808080; 
  border-radius: 4px; 
  padding: 8px; 
  width: 100%; 
  box-sizing: border-box; 
  outline: none; 
  // padding: 0.6rem;
  font-size: 1rem;
  // border: 1px solid #ccc;
  // border-radius: 6px;
  // width: 100%;
}
._message {
  grid-column: span 2; 
  min-height: 120px;   
  resize: vertical;   
}
.__submit {
  text-align: center;
  margin-top: 2rem;
}
.__submit_button {
  padding: 0.75rem 2rem;
  font-size: 1rem;
  background-color: #005bbb;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.__submit_button:hover {
  background-color: #004799;
}

// .__input {
//   border: 1px solid #808080; 
//   border-radius: 4px; 
//   padding: 8px; 
//   width: 100%; 
//   box-sizing: border-box; 
//   outline: none; 
//   // padding: 0.6rem;
//   font-size: 1rem;
//   // border: 1px solid #ccc;
//   // border-radius: 6px;
//   // width: 100%;
// }

// .__submit_button:hover {
//   background-color: #666666; 
//   border-color: #666666; 
// }


// .__input:focus {
//   border-color: #666666; 
//   box-shadow: 0 0 4px rgba(0, 0, 0, 0.1); 
// }

// .__submit_button {
//   border: 1px solid #808080; 
//   background-color: #808080; 
//   color: white; 
//   padding: 8px 18px; 
//   border-radius: 4px; 
//   cursor: pointer;
//   transition: all 0.3s; 
// }


// .__input {
//   padding: 0.6rem;
//   font-size: 1rem;
//   // border: 1px solid #ccc;
//   border-radius: 6px;
//   width: 100%;
// }

h4 {
  margin-top: 30px; 
  margin-bottom: 30px; 
  font-size: 16px;
  font-weight: bold;
}

.__filter_sidebar_words {
  display: flex;
  flex-direction: column;
  font-size: 14px; 
  margin: 0;
  padding: 0;
}

.__filter_sidebar_item {
  background-color: #ffffff;  
  padding: 10px;
  margin-top: 0px;
  margin-bottom: 0px;
  border-radius: 5px;
}

.__filter_sidebar_item h4 {
  margin: 0;
  font-size: 16px;
  font-weight: bold;
  color: #333;
}

.__filter_sidebar_item ul {
  padding-left: 5px;
  list-style-type: none;
}

.__filter_sidebar_item ul li a {
  display: block;
  padding: 8px;
  text-decoration: none;
  color: #333;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.__filter_sidebar_item ul li a.active {
  background-color: #d3d3d3; 
  color: #333;
}

.__filter_sidebar_item ul li a:hover {
  background-color: #e0e0e0; 
}

.__filter_sidebar_item ul li a:focus {
  outline: none;
  border-color: #3186f5;
}



.__filter_sidebar_word_row {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 0px;
  margin-bottom: 1px;
}

.__filter_sidebar_word_col {
  flex: 0 0 16%;
  text-align: center;
}

.__filter_word_item {
  position: relative;
  cursor: pointer;
  display: inline-block;
  border: 1px solid #ddd; 
  border-radius: 4px;
  transition: all 0.3s ease;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.__filter_word_item.active {
  background-color: #3186f5;
  color: white;
}

.__filter_word_item:focus {
  outline: none;
  border-color: #313ef5;
}

.__filter_word_item:focus-visible {
  outline: none;
  border-color: #313ef5;
}

// .__filter_word_item:hover {
//   background-color: #f1f1f1; 
// }

// .count {
//   display: none;
//   position: absolute;
//   top: -10px;
//   right: -10px;
//   background-color: #000;
//   color: #fff;
//   padding: 5px;
//   border-radius: 50%;
//   font-size: 12px;
// }

// .__filter_word_item:hover .count {
//   display: block;
// }

