@tailwind base;
@tailwind components;
@tailwind utilities;


@import "@/components/styles/about-us-header.scss";
@import "@/components/styles/element-design.scss";
@import "@/components/styles/variable.scss";
@import "@/components/styles/header.scss";
@import "@/components/styles/footer.scss";
@import "@/components/styles/theme.scss";
@import "@/components/styles/welcome.scss";
@import "@/components/styles/mainHome.scss";
@import "@/components/styles/home.scss";
@import "@/components/styles/latest-news.scss";
@import "@/components/styles/glossary.scss";
// @import "@/components/styles/works.scss";
@import "@/components/styles/statcate.scss";
@import "@/components/styles/not-found.scss";
@import "@/components/styles/transparency.scss";
@import "@/components/styles/file-library.scss";
@import "@/components/styles/statistic.scss";
@import "@/components/styles/methodology-view.scss";
@import "@/components/styles/file-library-list.scss";
@import "@/components/styles/open-data.scss";
@import "@/components/styles/opendata-view.scss";
@import "@/components/styles/opendata-table.scss";
@import "@/components/styles/statistic-data-viz.scss";
@import "@/components/styles/responsive.scss";
@import "@/components/styles/style.scss";
@import "@/components/styles/suvda.scss";
@import "@/components/styles/buyna.scss";

// body{
//     font-family: "sf-pro-text", roboto !important;
// }
// .route-loading-overlay {
//     backdrop-filter: blur(5px);
//     transition: all 0.3s ease-in-out;

//     .route-loading-content {
//         background: white;
//         padding: 2rem;
//         border-radius: 8px;
//         box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
//     }
// }

* {
  font-family: sf-pro-text;
}

.__form_title {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 2rem;
}



// .__input:focus {
//   border-color: #666666; 
//   box-shadow: 0 0 4px rgba(0, 0, 0, 0.1); 
// }

// .__submit_button {
//   border: 1px solid #808080; 
//   background-color: #808080; 
//   color: white; 
//   padding: 8px 18px; 
//   border-radius: 4px; 
//   cursor: pointer;
//   transition: all 0.3s; 
// }

.__submit_button:hover {
  background-color: #666666; 
  border-color: #666666; 
}


.__input_group {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}
// .__input {
//   padding: 0.6rem;
//   font-size: 1rem;
//   // border: 1px solid #ccc;
//   border-radius: 6px;
//   width: 100%;
// }
.__input {
  border: 1px solid #808080; 
  border-radius: 4px; 
  padding: 8px; 
  width: 100%; 
  box-sizing: border-box; 
  outline: none; 
  // padding: 0.6rem;
  font-size: 1rem;
  // border: 1px solid #ccc;
  // border-radius: 6px;
  // width: 100%;
}
.__input._message {
  grid-column: span 2;
  min-height: 120px;
  resize: vertical;
}

.__submit {
  text-align: center;
  margin-top: 2rem;
}

.__submit_button {
  padding: 0.75rem 2rem;
  font-size: 1rem;
  background-color: #005bbb;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.__submit_button:hover {
  background-color: #004799;
}