@tailwind base;
@tailwind components;
@tailwind utilities;


@import "@/components/styles/about-us-header.scss";
@import "@/components/styles/element-design.scss";
@import "@/components/styles/variable.scss";
@import "@/components/styles/header.scss";
@import "@/components/styles/footer.scss";
@import "@/components/styles/theme.scss";
@import "@/components/styles/welcome.scss";
@import "@/components/styles/mainHome.scss";
@import "@/components/styles/home.scss";
@import "@/components/styles/latest-news.scss";
@import "@/components/styles/glossary.scss";
@import "@/components/styles/style.scss";
// @import "@/components/styles/works.scss";
@import "@/components/styles/statcate.scss";
@import "@/components/styles/not-found.scss";
@import "@/components/styles/responsive.scss";
@import "@/components/styles/transparency.scss";
@import "@/components/styles/file-library.scss";
@import "@/components/styles/statistic.scss";
@import "@/components/styles/methodology-view.scss";
@import "@/components/styles/file-library-list.scss";
@import "@/components/styles/open-data.scss";
@import "@/components/styles/opendata-view.scss";
@import "@/components/styles/opendata-table.scss";
@import "@/components/styles/suvda.scss";
@import "@/components/styles/buyna.scss";

// body{
//     font-family: "sf-pro-text", roboto !important;
// }
// .route-loading-overlay {
//     backdrop-filter: blur(5px);
//     transition: all 0.3s ease-in-out;
    
//     .route-loading-content {
//         background: white;
//         padding: 2rem;
//         border-radius: 8px;
//         box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
//     }
// }


.__form_title {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 2rem;
}

.__input_group {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.__input {
  padding: 0.6rem;
  font-size: 1rem;
  // border: 1px solid #ccc;
  border-radius: 6px;
  width: 100%;
}

.__input._message {
  grid-column: span 2;
  min-height: 120px;
  resize: vertical;
}

.__submit {
  text-align: center;
  margin-top: 2rem;
}

.__submit_button {
  padding: 0.75rem 2rem;
  font-size: 1rem;
  background-color: #005bbb;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.__submit_button:hover {
  background-color: #004799;
}

pre {
  background-color: #1e1e1e;
  color: #eee;
  padding: 1rem;
  border-radius: 8px;
  font-size: 14px;
  white-space: pre-wrap;
  overflow-x: auto;
}
